@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lilian's Hobby: Fortnite</h1>
    <p>Hi, my name is Lilian Tsubaki, and I like to play Fortnite. I'm a huge gamer.</p>
    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <img src="~/5b308d13-79d4-48f6-82eb-3297d0f99d72.jpg" style="width: 300px;" class="img-fluid" alt="Legendary Gamer">
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <p class="text-center">I started playing Fortnite about two years ago. 
                My older brother started playing it as a joke, but soon found himself playing it unironically.
                He convinced me to purchase a Nintendo Switch, purely to play Fortnite.</p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
		<div class="col-md-6">
            <img src="~/080040c4c6dcd92bdeef0c2ac5775648.jpg" style="width: 300px;" class="img-fluid" alt="Wave Check" />
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <p class="text-center">
                This is one of my favorite memes of all time. This man is a Fortnite character. When I first
                laid eyes on this image, I knew I needed to make it my computer wallpaper immediately. Since
                then, I have found a higher resolution image, which is now my background!
            </p>
        </div>
    </div>
</div>
